.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.header img {
    min-width: max-content;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu li + li {
  margin-left: 40px;
} 

.header-menu a {
    display:inline-block;
    font-size: 1.125rem;
    text-decoration: none;
    color: #141414;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #141414;
    position: absolute;
    margin-top: 4px;
    transition: 0.5s;
}

.header-menu a:hover::after{
  width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        align-content: center;
    }
    .header-menu a {
        gap: 2px;
    }
    .header-menu a {
        background: #e0e0e0;
        padding: 8px 10px;
        border-radius: 4px;
    }
    .header-menu a:hover,
    .header-menu a.ativo {
        background: #d6d1d1;
    }
    .header-menu a::after {
        display: none;
    }
}
  
@media (max-width: 600px) {
    .header {
        gap: 10px;
    }
    .header-menu {
        gap: 10px;
    }
    .header-menu a {
        padding: 8px 10px;
        font-size: 0.875rem;
    }
}

